.container {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    background-color: #EEEEEE;
    border-radius: 10px;
    overflow: hidden;
}

.introTitle {
    display: flex;
    font-family: 'Nunito Sans';
    font-size: 3.2rem;
    font-weight: 800;
    padding-left: 40px;
}

.introDescription {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0rem;
    font-weight: 300;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    line-height: 24px;
}

.introResume {
    flex-direction: column;
    justify-content: center;
    align-self: center;
}